# DAY 4

In [1]:
import pandas as pd
print(pd.__version__)

1.0.1

Q2)How to create a series from a numpy array?¶

In [2]:
arr = ([1,2,3,4])
print("Numpy array ==> ", arr)
s = pd.Series(arr)
print("Series==>\n",s)

Numpy array ==>  [1, 2, 3, 4]
Series==>
 0    1
1    2
2    3
3    4
dtype: int64


Q3)How to convert the index of a series into a column of a dataframe?

In [3]:

dict1 = {"Rakesh":85, "Hari":82, "Chand":91, "Rajesh":97}
print("Converting to series")
print()
s = pd.Series(dict1)
print(s)
print()
print("Converting to Data Frame")
d = pd.DataFrame(s)
d

Converting to series

Rakesh    85
Hari      82
Chand     91
Rajesh    97
dtype: int64

Converting to Data Frame

         0
Rakesh  85
Hari    82
Chand   91
Rajesh  97

Q4)Write the code to list all the datasets available in seaborn library. Load the 'mpg' dataset.

In [4]:
import seaborn as sns
data = sns.load_dataset('mpg')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

Q5)Which country origin cars are a part of this dataset?

In [5]:
data["origin"].unique()

array(['usa', 'japan', 'europe'], dtype=object)

Q6)Extract the part of the dataframe which contains cars belonging to 'usa'

In [6]:
df = data[data["origin"].str.contains("usa")]
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10